
<nav class="navbar navbar-expand-lg light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ERP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['employee',2]" aria-current="page" href="#">Employees</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="employee-list" href="#">Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dept" href="#">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="person" href="#">Person</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactive-form" href="#">Reactive Form</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
<!-- <app-person-module></app-person-module> -->

<!-- <app-modelapproach></app-modelapproach> -->
<!-- <temp-form></temp-form> -->


<!-- <content-project (click)="btnClicked($event)" > 
    <header>
        <input type="text" value="Tom">
    </header>
    <content>This is my content.</content>
    Click Me
 </content-project> -->

<!-- <content-project (click)=btnClicked1($event) > 
    <header>
        <input type="text" value="Nick">
    </header>
    <content>This is my content1.</content>
    <b>Save</b> 
    
    <div class="header">
        This is my class header content.
    </div>
    <div class="header">
        This is my class header content.
    </div>
</content-project> -->

<!-- <content-project> <i>Confirm</i>   </content-project> -->



<!-- 
<input [(ngModel)]='title'> 

you entered title = {{title}} <br>

<input [(ngModel)]='name'>
you entered Name = {{name}} <br> -->
<!-- <h1>Employee Details</h1> 
<cus-dir></cus-dir> <br>

<input type="text" [(ngModel)]="userInput">
<simple [title]='userInput'></simple> -->

<!-- <emp></emp> -->
<!-- <emp-list></emp-list> -->

<!-- ngOnChanges() Called everytime when input property changes. 
SimpleChanges- previous value and the current latest value that we change

ngOnInit() - After the constructor in the component. We do the manipulation for 
service call http services. It is commonly used for component initi. and 
retrieving the data from database.

 ngAfterContentInit()- Once content of the component is initi.
 ngAfterContentChecked()- Access all the content that you used form component init.

 ngAfterViewInit()- Afer view is initi. and ready to render into the browser
 ngAfterViewChecked()
 ngOnDestroy() - Is called just before the Component destroy. Generally used to cleanup the resources. -->
